xsd/recepta2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="receptes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="recepta" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nom"/>
              <xs:element name="ingredients">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ingredient" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="quantitat">
                          <xs:complexType>
                            <xs:sequence>
                            <xs:element type="xs:integer" name="valor" maxOccurs="unbounded" minOccurs="0"/>
                            <xs:element type="xs:string" name="mesura" maxOccurs="unbounded" minOccurs="0"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element type="xs:string" name="nom" maxOccurs="unbounded" minOccurs="0"/>
                      </xs:sequence>
                    </xs:complexType>
                    </xs:element>
                  </xs:sequence>                
                </xs:complexType>          
              </xs:element>
              <xs:element name="passos">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="pas" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:integer" name="dificultat"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
